[submodule "jdmb-ts"]
	path = jdmb-ts
	url = git@github.com:josh-dittmer/jdmb-ts.git
[submodule "jdmb"]
	path = jdmb
	url = git@github.com:josh-dittmer/jdmb
[submodule "jdmb-fb"]
	path = jdmb-fb
	url = git@github.com:josh-dittmer/jdmb-fb.git
